.cursor {
	width: 20px;
	height: 20px;
	position: fixed;
	top:400px;
	left:500px;
	background-color: hotpink;
	border-radius: 10px;
    border: 1px black solid;
	z-index:1;
}

.cursor2 {
    width: 20px;
    height: 20px;
    position: fixed;
    top:400px;
    left:300px;
    background-color: lightblue;
    border-radius: 10px;
    border: 1px black solid;
    z-index:1;

}


.legend {
    height: 300px;
    width: 180px;
    background-color: greenyellow;
    top: 150px;
    left:1200px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;
    text-align: left;
}



body {

    background-image: url("../imgs/red_wallpaper.jpg")
}


.pianoLevel {
    height: 50px;
    width: 90px;
    background-color: yellow;

    top: 300px;
    left:1500px;
    position: fixed;
    z-index: -1;
    outline-color: grey;
    outline-style: solid;
}

.reverbButton {
    height: 50px;
    width: 90px;
    background-color: yellow;

    top: 300px;
    left:1500px;
    position: fixed;
    z-index: -1;
    outline-color: grey;
    outline-style: solid;
}

.speechText{
    height: 50px;
    width: 200px;
    background-color: magenta;
    top: 750px;
    left:50px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;

}

 .play1{

    font-size: 3.0em;
   
    color: maroon;
  }

  .tape-controls-play {

  	  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  }


  .slider1label {
      height: 45px;
      width: 100px;
      background-color: greenyellow;
      top: 150px;
      left:50px;
      position: fixed;
      z-index: -1;
      outline-color: black;
      outline-style: solid;
      text-align: center;
  }

.slider1 {
  height: 520px;
  width: 100px;
  background-color: black;
  top: 200px;
  left:50px;
  position: fixed;
  z-index: -1;
  outline-color: limegreen;
  outline-style: solid;


}
.handle1 {
  height: 50px;
  width: 90px;
  background-color: #F00;

  top: 300px;
  left:55px;
  position: fixed;
  z-index: 0;
  outline-color: grey;
  outline-style: solid;


}

.slider2 {
  height: 520px;
  width: 100px;
  background-color: black;
  top: 200px;
  left:175px;
  position: fixed;
  z-index: -1;
  outline-color: limegreen;
  outline-style: solid;


}

.slider2label {
    height: 45px;
    width: 100px;
    background-color: greenyellow;
    top: 150px;
    left:175px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;
    text-align: center;
}
.handle2 {
  height: 50px;
  width: 90px;
  background-color: #F00;

  top: 300px;
  left:180px;
  position: fixed;
  z-index: 0;
  outline-color: grey;
  outline-style: solid;

}

.slider3 {
  height: 520px;
  width: 50px;
  background-color: peru;
  top: 200px;
  left:200px;
  position: fixed;
  z-index: -1;
  outline-color: black;
  outline-style: solid;


}
.handle3 {
  height: 30px;
  width: 40px;
  background-color: #F00;

  top: 300px;
  left:205px;
  position: fixed;
  z-index: 0;
  outline-color: black;
  outline-style: solid;
}

.knob1 {
	top: 500px;
	left: 200px;
	position: fixed;
	animation-fill-mode: forwards;
	z-index: 0;
}



.circle1{ 

	width: 200px;
	height: 200px;
	position: fixed;
	top:200px;
	left:350px;
	background-color: black;
	border-radius: 100px;
	z-index:-1;
    border: 1px palegreen solid;
 }

.knob1label {
    height: 45px;
    width: 100px;
    background-color: greenyellow;
    top: 140px;
    left:400px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;
    text-align: center;
}

.knob1OnButton{
    width: 100px;
    height: 100px;
    position: fixed;
    top:475px;
    left:405px;
    background-color: cyan;

    z-index:-2;

    outline-color: black;
    outline-style: solid;
}


.miniCircle1{ 

	width: 20px;
	height: 20px;
	position: fixed;
	top: 205px;
	left: 440px;
	background-color: grey;
	border-radius: 10px;
	z-index:0;
 }

 .circle2{ 

	width: 200px;
	height: 200px;
	position: fixed;
	top:200px;
	left:650px;
	background-color: black;
	border-radius: 100px;
	z-index:-1;

    border: 1px palegreen solid;
 }

.knob2label {
    height: 45px;
    width: 100px;
    background-color: greenyellow;
    top: 140px;
    left:700px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;
    text-align: center;
}

.miniCircle2{ 

	width: 20px;
	height: 20px;
	position: fixed;
	top: 205px;
	left: 740px;
	background-color: grey;
	border-radius: 10px;
	z-index:0;
 }


.knob2OnButton{
    width: 100px;
    height: 100px;
    position: fixed;
    top:475px;
    left:705px;
    background-color: cyan;

    z-index:-2;
    outline-color: black;
    outline-style: solid;
}

  .circle3{ 

	width: 200px;
	height: 200px;
	position: fixed;
	top:200px;
	left:950px;
	background-color: black;
	border-radius: 100px;
	z-index:-1;
    border: 1px palegreen solid;

 }
.knob3label {
    height: 45px;
    width: 100px;
    background-color: greenyellow;
    top: 140px;
    left:1000px;
    position: fixed;
    z-index: -1;
    outline-color: black;
    outline-style: solid;
    text-align: center;
}

.miniCircle3{ 

	width: 20px;
	height: 20px;
	position: fixed;
	top: 205px;
	left: 1045px;
	background-color: grey;
	border-radius: 10px;
	z-index:0;
 }


.knob3OnButton{
    width: 100px;
    height: 100px;
    position: fixed;
    top:475px;
    left:1005px;
    background-color: cyan;

    z-index:-2;

    outline-color: black;
    outline-style: solid;
}



.c-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:400px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}
.c-sharp-key{

    width: 60px;
    height: 200px;
    position: fixed;
    top:650px;
    left:470px;
    background-color: black;
    outline-color: black;
    outline-style: solid;
    z-index:-1;

}

.d-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:500px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.d-sharp-key{

    width: 70px;
    height: 200px;
    position: fixed;
    top:650px;
    left:570px;
    background-color: black;
    outline-color: black;
    outline-style: solid;
    z-index:-1;

}

.e-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:600px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.f-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:700px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.f-sharp-key{

    width: 70px;
    height: 200px;
    position: fixed;
    top:650px;
    left:770px;
    background-color: black;
    outline-color: black;
    outline-style: solid;
    z-index:-1;

}

.g-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:800px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.g-sharp-key{

    width: 70px;
    height: 200px;
    position: fixed;
    top:650px;
    left:870px;
    background-color: black;
    outline-color: black;
    outline-style: solid;
    z-index:-1;

}

.a-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:900px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.a-sharp-key{

    width: 70px;
    height: 200px;
    position: fixed;
    top:650px;
    left:970px;
    background-color: black;
    outline-color: black;
    outline-style: solid;
    z-index:-1;

}

.b-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:1000px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}

.c2-key{

    width: 100px;
    height: 300px;
    position: fixed;
    top:650px;
    left:1100px;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    z-index:-2;

}





